h3{
	text-align: center;
}
button{
	align-self: center;
}
.box-4{
	text-align: center;
	align-items: center;

}
text-area{
	padding-bottom: 25px;
	padding-top: 20px;
}
body{
	background-image: url(quiz.jpg);
	background-filter: alpha;
}
.container{
	width: 75%;
}
.jumbotron{
	margin-top: 35px;
	padding-top: 25px;
	padding-bottom: 10px;
}
